extends layout

block content
	if messages
		.messages.info
			span= messages
	h1 Forgot Password
	form(method='POST', action="/forgot")
		p
			b Email
		input(type='text', name='email', placeholder='email')
		br
		button(type='submit') Send Reset