extends layout

block content
  if messages
    .messages.alert
      span= messages
  h1= title
  p Welcome to #{title}
  if(!currUser)
    a(href="/login") Login
    br
    a(href="/register") Register
  if(currUser)
    p You are currently logged in as #{currUser.username}
    a(href="/logout") Logout
