extends layout

block content
  if messages
    .messages.alert
      span= messages
  h1= title
  br
  form(role='form', action="/login",method="post", name="login")
    input(type='text', name="username", placeholder='Enter Username')
    input(type='password', name="password", placeholder='Enter Password')
    button(type='submit') Submit
